NEXT_PUBLIC_GOOGLE_API_KEY="your-google-maps-key"  # To see how it's generated see the README.md
NEXTAUTH_URL="http://localhost:3000"               # Only needed if **not** using a docker container
MONGO_URI="your-mongodb-connection-string"         # Only needed if **not** using a docker container
MONGO_INITDB_ROOT_USERNAME="root"                  # Only needed if using a container (Used to generate the URI)
MONGO_INITDB_ROOT_PASSWORD="choose a password"     # Only needed if using a container (Used to generate the URI)
DB_NAME="geohub"
NEXTAUTH_SECRET="first-random-secret"              # a random string, preferrably generated using `openssl rand -base64 32`
CRYPTR_SECRET="second-random-secret"               # a different random string generated using openssl

