/* Graphik Font */

@font-face {
  font-family: 'Graphik';
  font-weight: 100;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-100-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 200;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-200-Extralight.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-300-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-400-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-500-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-600-Semibold.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-700-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 800;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-800-Black.otf) format('opentype');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 900;
  src: local('Graphik'), url(../fonts/Graphik/Graphik-900-Super.otf) format('opentype');
}


:root {
  --white: #FFFFFF;
  --black: #000000;

  --font-family1: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;  
  --font-family2: 'Open Sans', 'Roboto', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'sans-serif';

  --gray-050: #F9FAFB;
  --gray-100: #F3F4F6;
  --gray-200: #E5E7EB;
  --gray-300: #D1D5DB;
  --gray-400: #9CA3AF;
  --gray-500: #6B7280;
  --gray-600: #4B5563;
  --gray-700: #374151;
  --gray-800: #1F2937;
  --gray-900: #111827;

  --red-050: #FEF2F2;
  --red-100: #FEE2E2;
  --red-200: #FECACA;
  --red-300: #FCA5A5;
  --red-400: #F87171;
  --red-500: #EF4444;
  --red-600: #DC2626;
  --red-700: #B91C1C;
  --red-800: #991B1B;
  --red-900: #7F1D1D;

  --amber-050: #FFFBEB;
  --amber-100: #FEF3C7;
  --amber-200: #FDE68A;
  --amber-300: #FCD34D;
  --amber-400: #FBBF24;
  --amber-500: #F59E0B;
  --amber-600: #D97706;
  --amber-700: #B45309;
  --amber-800: #92400E;
  --amber-900: #78350F;

  --green-050: #ECFDF5;
  --green-100: #D1FAE5;
  --green-200: #A7F3D0;
  --green-300: #6EE7B7;
  --green-400: #34D399;
  --green-500: #10B981;
  --green-600: #059669;
  --green-700: #047857;
  --green-800: #065F46;
  --green-900: #064E3B;

  --blue-050: #EFF6FF;
  --blue-100: #DBEAFE;
  --blue-200: #BFDBFE;
  --blue-300: #93C5FD;
  --blue-400: #60A5FA;
  --blue-500: #3B82F6;
  --blue-600: #2563EB;
  --blue-700: #1D4ED8;
  --blue-800: #1E40AF;
  --blue-900: #1E3A8A;

  --indigo-050: #EEF2FF;
  --indigo-100: #E0E7FF;
  --indigo-200: #C7D2FE;
  --indigo-300: #A5B4FC;
  --indigo-400: #818CF8;
  --indigo-500: #6366F1;
  --indigo-600: #4F46E5;
  --indigo-700: #4338CA;
  --indigo-800: #3730A3;
  --indigo-900: #312E81;

  --purple-050: #F5F3FF;
  --purple-100: #EDE9FE;
  --purple-200: #DDD6FE;
  --purple-300: #C4B5FD;
  --purple-400: #A78BFA;
  --purple-500: #8B5CF6;
  --purple-600: #7C3AED;
  --purple-700: #6D28D9;
  --purple-800: #5B21B6;
  --purple-900: #4C1D95;

  --pink-050: #FDF2F8;
  --pink-100: #FCE7F3;
  --pink-200: #FBCFE8;
  --pink-300: #F9A8D4;
  --pink-400: #F472B6;
  --pink-500: #EC4899;
  --pink-600: #DB2777;
  --pink-700: #BE185D;
  --pink-800: #9D174D;
  --pink-900: #831843;

  --border: 1px solid #34373A;
  --borderLight: 1px solid #D1D5DB;
  --modalPadding: 15px;
  --iconColor: #8D8F92;
  --activeColor: #A5ADFF;
  --color1: #fff;
  --color2: #DADBDD;
  --color3: #BABABA;
  --background1: #1E2023;
  --background2: #262626;
  --background3: #34373A;
  --lightGreen: #10B981;
  --lightYellow: #FCD34D;
  --lightRed: #F87171; 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family1);
  font-weight: 500;
  min-height: 100vh;
  background-color: var(--background1);
  color: var(--color1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input, button, select, textarea {
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  border: 0;
  font-family: var(--font-family1);
}

img[src="https://www.geoguessr.com/images/auto/30/30/ce/0/plain/pin/c2fe16562d9ad321687532d53b067e75.png"] {
  border-radius: 50%;
}